<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<title>Book App</title>
	</head>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<span
						class="glyphicon glyphicon-book"
						aria-hidden="true"
					></span>
					BookApp
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/authors">Authors</a></li>
				<li><a href="/books">Books</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(!locals['currentUser']){%>
				<li>
					<a href="/register"
						><span class="glyphicon glyphicon-user"></span> Sign
						Up</a
					>
				</li>
				<li>
					<a href="/login"
						><span class="glyphicon glyphicon-log-in"></span>
						Login</a
					>
				</li>
				<% } else { %>
				<li><a> Hello, <%= locals['currentUser'].name %></a></li>
				<li>
					<a href="/logout"
						><span class="glyphicon glyphicon-log-in"></span>
						Logout</a
					>
				</li>
				<% } %>
			</ul>
		</div>
	</nav>
	<div class="container">
		<% if(locals['success']) { %>
		<div class="alert alert-success" role="alert"><%= locals['success'] %></div>
		<% } else if(locals['error']) { %>
		<div class="alert alert-danger" role="alert"><%= locals['error'] %></div>
		<% } %>
	</div>