<%-include("./partials/head.ejs")%>

<div class="container">
    <div class="page-header">
        <h1>Author Table</h1>
    </div>
    <form class="form-inline" id="createForm" action="/authors" method="POST">
        <div class="form-group">
            Name:
            <input id="name" type="text" name="name" required /><br />
        </div>
        <div class="form-group">
            Age:
            <input id="age" type="number" name="age" />
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>

    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% authors.forEach(function(author){ %>
            <tr>
                <th scope="row"><%= author.id %></th>
                <form action="/authors/<%= author.id %>?__method=PUT" method="POST">
                    <td><input type="text" name="name" value="<%= author.name %>" required></td>
                    <td><input type="number" name="age" value="<%= author.age %>" required></td>
                    <td><input type="submit" class="btn btn-success" value="Update"></td>
                    <td>
                </form>
                <form action="/authors/<%=author.id%>?__method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
</div>
</table>

<%-include("./partials/tail.ejs")%>