<%-include("./partials/head.ejs")%>
<div class="container">
    <div class="page-header">
        <h1>Book Table</h1>
    </div>
<form class="form-inline" id="createForm" action="/books" method="POST">
    <div class="form-group">
        Name:
        <input id="name" type="text" name="name" required /><br/>
    </div>
    <div class="form-group">
        Author ID:
        <input id="authorId" type="number" name="authorId" />
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author ID</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(book){ %>
                    <tr>
                        <th scope="row"><%= book.id %></th>
                        <form action="/books/<%= book.id %>?__method=PUT" method="POST">
                            <td><input type="text" name="name" value="<%= book.name %>" required></td>
                            <td><input type="number" name="authorId" value="<%= book.authorId %>" required></td>
                            <td><%= book.author %></td>
                            <td><input type="submit" class="btn btn-success" value="Update"></td>
                            <td>
                        </form>
                            <form action="/books/<%=book.id%>?__method=DELETE" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </div>
    </table>

<%-include("./partials/tail.ejs")%>
