<%-include("./partials/head.ejs")%>

<div class="container">
	<div class="jumbotron">
		<h1>
			<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
			BookApp
		</h1>
		<p>An Awesome Book Management Application!</p>
		<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
	</div>
</div>

<%-include("./partials/tail.ejs")%>
