<%-include("./partials/head.ejs")%>
<div class="container">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="account">Account</label>
      <input type="text" class="form-control" id="account" name="account" placeholder="Account" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<%-include("./partials/tail.ejs")%>