<%-include("./partials/head.ejs")%>
<div class="container">
  <form action="/register" method="post">
    <div class="form-group">
      <label for="account">Account</label>
      <input type="text" class="form-control" id="account" name="account" placeholder="Account" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
        placeholder="Confirm Password" required>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
<%-include("./partials/tail.ejs")%>